{% extends 'resistance/base.html' %}

{% block content %}
    <h1>جزئیات صندوق: {{ fund.fund.name }}</h1>
    <div class="detail-view">
        <p><strong>شناسه صندوق:</strong> {{ fund.fund.name }} ({{ fund.fund.phone }})</p>
        <p><strong>تعداد اعضا:</strong> {{ fund.member }}</p>
        <p><strong>تعداد وام:</strong> {{ fund.NumberOfLoans }}</p>
        <p><strong>مبلغ پرداختی:</strong> {{ fund.mony }}</p>
        <p><strong>موجودی:</strong> {{ fund.quantity }}</p>
        <p><strong>پس انداز:</strong> {{ fund.AfterTheSize }}</p>
        <hr>
        <p><strong>دوره آموزشی:</strong> {{ fund.get_course_display }}</p>
        <p><strong>نام دوره:</strong> {{ fund.name_course|default:"-" }}</p>
        <p><strong>تعداد شرکت کننده:</strong> {{ fund.member_course|default:"-" }}</p>
        <p><strong>نام استاد:</strong> {{ fund.name_teacher|default:"-" }}</p>
        <p><strong>شماره استاد:</strong> {{ fund.phone_teacher|default:"-" }}</p>
        <hr>
        <p><strong>بازارچه:</strong> {{ fund.get_bazaar_display }}</p>
        <p><strong>توضیحات بازارچه:</strong> {{ fund.bazzar_desc|default:"-" }}</p>
    </div>
    
    <a href="{% url 'fund-update' fund.pk %}" class="btn">ویرایش</a>
    <a href="{% url 'fund-delete' fund.pk %}" class="btn btn-delete">حذف</a>
    <a href="{% url 'fund-list' %}" class="btn btn-secondary">بازگشت به لیست</a>
{% endblock %}