{% extends 'resistance/base.html' %}

{% block content %}
<div class="card shadow-sm border-danger">
    <div class="card-header bg-danger text-white">
        <h1 class="h5 mb-0">حذف صندوق</h1>
    </div>
    <div class="card-body p-4">
        <p>آیا از حذف اطلاعات تکمیلی صندوق "<strong>{{ object.fund.name }}</strong>" مطمئن هستید؟</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">تایید حذف</button>
            <a href="{% url 'informationfund-detail' object.fund.pk %}" class="btn btn-secondary">انصراف</a>
        </form>
    </div>
</div>
{% endblock %}