{% extends "resistance/base.html" %}
{% block title %}جزئیات کاربر{% endblock %}
{% block content %}
<div class="card shadow">
    <div class="card-header">جزئیات کاربر</div>
    <div class="card-body">
        <p><strong>شماره تلفن:</strong> {{ user.phone }}</p>
        <p><strong>نام کاربری:</strong> {{ user.username }}</p>
        <p><strong>ادمین؟</strong> {% if user.is_admin %}✅{% else %}❌{% endif %}</p>

        <a href="{% url 'user-update' user.pk %}" class="btn btn-warning">ویرایش</a>
        <a href="{% url 'user-delete' user.pk %}" class="btn btn-danger">حذف</a>
    </div>
</div>
{% endblock %}
