{% extends 'resistance/base.html' %}
{% block content %}
    <h1><i class="bi bi-person-plus-fill"></i> {% if object %}ویرایش کاربر{% else %}ایجاد کاربر جدید{% endif %}</h1>
    
    <form method="post" class="mt-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary"><i class="bi bi-save-fill"></i> ذخیره</button>
        <a href="{% url 'user-list' %}" class="btn btn-secondary"><i class="bi bi-x-circle"></i> انصراف</a>
    </form>
{% endblock %}